.social .tool .tile {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 8px 8px 14px 8px;
}

.social .tool label {
    color: #000;
    font-size: 11px;
    letter-spacing: 0.1em;
    text-align: center;
}

body.anonymous .profilepicture-box,
body.anonymous .newsletterJoiner {
    display: none;
}

.login-form input {
    width: 100% !important;
    margin: 0;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: transparent !important;
    border: 1px solid black;
    color: #000;
    border-radius: 3px;
    box-sizing: border-box;
}

#v-login- {
    color: #000;
}